.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 4rem;
  width: 80%;
  justify-content: center;
  justify-self: center;
}

.id_holder {
  position: absolute;
  top: -5rem;
}

@media (max-width: 700px) {
  .id_holder {
    top: -7rem
  }
}

.title {
  font-size: xx-large;
  width: fit-content;
}

.title span {
  color: var(--name);
}

.portfolio {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  border-radius: 1rem;
  box-shadow: -1rem 1rem 1rem #0000008c;
  background-color: var(--card);
  padding: 0.5rem;
  padding-bottom: 0rem;
  height: 22.5rem;
  width: 18.75rem;
  transition: all 0.2s ease;
}
.card:hover {
  scale: 1.05;
  transition-duration: 0.2s;
}

.card_imagen {
  border-radius: 10px;
  width: 18.75rem;
  height: 8.75rem;
}

.card_title {
  margin-block: 1rem;
  color: black;
  font-size: 1.25rem;
  cursor: default;
}

.descPhoto {
  margin: 0rem;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
  color: #000;
}
.descPhoto:hover {
  color: #517481;
}

.card_description {
  text-align: center;
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: default;
  margin-block: 0rem;
}

.card_buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;  
  height: 3.75rem;
  width: 80%;
  background-color: transparent;
  position: relative;
  bottom: 0rem;
}

.card_website {
  text-decoration: none;
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  border-radius: 0.5rem;
  border: 1px solid grey;
  transition: all 0.2s ease;
}
.card_website:hover {
  scale: 1.08;
  transition-duration: 0.2s;
}

.pizzariaJacare {
  color: black;
  background-color: #DBA24A;
}
.pizzariaJacare:hover {
  background-color: #b98639;
  transition-duration: 0.2s;
}

.shiftsTable {
  color: black;
  background-color: #517481;
}
.shiftsTable:hover {
  background-color: #456571;
  transition-duration: 0.2s;
}

.scoresBoards {
  color: #000;
  background-color: #09765B;
}
.scoresBoards:hover {
  background-color: #08634c;
  transition-duration: 0.2s;
}

.card_icon_a {
  display: flex;
  height: 2.5rem;
  align-items: center;
}

.card_icon {
  transition: all 0.2s ease;
}
.card_icon:hover {
  scale: 1.1;
  transition-duration: 0.2s;
}

.technologies_cont {
  width: 90%;
  overflow: hidden;
}

.technologies_track {
  display: flex;
  position: relative;
  left: 0;
  gap: 1rem;
  margin-top: 0rem;
  padding: 0rem;
}

