
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: white;

  color-scheme: light dark;

  --baseg: radial-gradient(100% 100% at 50% 0%, #061E62 0%, #020C28 22.27%, #020C28 52.27%, #061746 72.27%, #020C28 86.77%);
  --baseg2: radial-gradient(100% 100% at 50% 100%, #061E62 0%, #020C28 43.61%, #010614 86.77%);
  --base: #010614;
  --about: #0F172D;
  --card: #bbc4d3;
  --name: #53c1de;
  --text: #c3d4e4;
  --yellow: #d7e189;
  --font1: Verdana, Geneva, Tahoma, sans-serif;
  --font2: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

.home_base {
  background: var(--baseg);
  background-repeat: no-repeat;
  padding-bottom: 4rem;
}

.top_button {
  position: absolute;
  top: 200vh;
  right: 1rem;
  opacity: 0;
  transition: all 0.5s ease;
}

.top_button_fixed {
  z-index: 1;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  opacity: 1;
  transition: all 0.5s ease;
}

@media (min-width: 1200px) {
  .top_button_fixed,
  .top_button {
    right: 3rem;
  }
}